# Python Basics I: Variables and Data Types

In this class, we'll start by learning about variables and how they store information in Python. We'll then explore different data types like numbers, text, true/false values, and lists.

- [Variables](#variables)
- [Data Types](#data-types)
- [Numbers and maths](#numbers-and-maths)
- [Strings](#strings)
- [Booleans](#booleans)
- [Operators](#operators)
- [Lists](#lists)
- [Dictionaries](#dictionaries)

## Variables
Variables are containers for storing data values.

### Creating Variables
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [1]:
a = 4
b = "Car"
c = 'Car' # in Python, single and double quotes are the same

print(a)
print(b)
print(c)

4
Car
Car

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [2]:
a = 4
a = "Car" #Override the previous set value

print(a)

Car

#### Comments
You probabaly notice that there are texts in green. These are the comments. Comments can be used to explain Python code. Comments can be used to make the code more readable. Comments can be used to prevent execution when testing code.

In [3]:
# This is a comment
#a=5, This is not executed
a = 5 # This is executed

In [4]:
"""
This is a comment
written in
more than just one line
a = 5 # This is not executed since it is in a comment.

"""
a =5

Lets get back to variables

### Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
- A variable name must start with a letter or the underscore character (_)
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)
- A variable name cannot be any of the Python keywords. Python keywords are special reserved words that have specific meanings and purposes and canâ€™t be used for anything but those specific purposes.

In [5]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [6]:
# Valid variable names:
myname = "John"
my_name = "John"
_my_name = "John"
myName = "John"
MYNAME = "John"
myname2 = "John"

In [7]:
#Wrong variable names will get a syntax error:
2myname = "John"
my-name = "John"
my name = "Jone"

SyntaxError: invalid decimal literal (2145715527.py, line 2)

### Multi Words Variable Names
Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

In [8]:
myLastName = "Li" # Camel Case
my_last_name = "Li" # Snake Case
MyLastName = "Li" # Pascal Case

### Assign Multiple Values

Python allows you to assign values to multiple variables in one line:

In [9]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [10]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [11]:
fruits = ["apple", "banana", "cherry"] # This is called a list
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

### Output Variables

The Python `print()` function is often used to output variables.

In [12]:
x = "Python is awesome"
print(x)

Python is awesome

In the print() function, you output multiple variables, separated by a comma:

In [13]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

You can also use `+` sign to concatenate variables (words).

In [14]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

## Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

- Text Type:	`str`
- Numeric Types:	`int`, `float`, `complex`
- Sequence Types:	`list`, `tuple`, `range`
- Mapping Type:	`dict`
- Set Types:	`set`, `frozenset`
- Boolean Type:	`bool`
- Binary Types:	`bytes`, `bytearray`, `memoryview`
- None Type:	`NoneType`

In [15]:
#You can get the data type of any object by using the type() function:
x = 5
print(type(x))

<class 'int'>

Setting common data types

In [16]:
x1 = "Hello World" #str	
x2 = 20	#int	
x3 = 20.5	#float	
x4 = ["apple", "banana", "cherry"]	#list	
x5 = ("apple", "banana", "cherry")	#tuple	
x6 = range(6)	#range	
x7 = {"name" : "John", "age" : 36}	#dict	
x8 = True	#bool	
x9 = None	#NoneType

## Numbers and maths

There are three numeric types in Python: `int`, `float`, and `complex`. 
- `int`: Int, or integer, is a whole number, positive or negative, without decimals.
- `float`: Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [17]:
x = 1
y = 123213123
z = -12323

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [18]:
x = 1.33333
y = 1.5
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an `e` to indicate the power of 10.

In [19]:
x = 6e2 # 6 times 10 to the power of 2 = 600
x

600.0

## Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [20]:
a = "Hello, World!"
print(a)

Hello, World!

### Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [21]:
a = "Hello, World!"
print(a[0]) # The first character in the string
print(a[1]) # The second character in the string
print(a[-1]) # The last character in the string

H
e
!

In [22]:
#The len() function returns the length of a string:
print(len(a)) # 13 characters in the string

13

### Check String

To check if a certain phrase or character is present in a string, we can use the keyword in.

In [23]:
sentence = "I love donuts"

print("donuts" in sentence) #True if the word is in the sentence, False if not

True

Check if "muffin" is NOT present in the following text:

In [24]:
sentence = "I love donuts"

print("muffin" not in sentence) #True if the word is NOT in the sentence, False if it is
print("muffin" in sentence) #True if the word is in the sentence, False if not

True
False

### Slicing
You can return a range of characters by using the slice syntax.

Specify the start index () and the end index, separated by a colon, to return a part of the string.

**Note**: that the first character has index 0, and the character at the end index is not included.

In [25]:
b = "Hello, World!"
print(b[2:5])

llo

By leaving out the start index, the range will start at the first character:

In [26]:
#Get the characters from the start to position 5 (not included):
print(b[:5])

Hello

By leaving out the end index, the range will go to the end:

In [27]:
# Get the characters from position 2, and all the way to the end:
b = "Hello, World!"
print(b[2:])

llo, World!

Use negative indexes to start the slice from the end of the string:

Get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):

In [28]:
b = "Hello, World!"
print(b[-5:-2])

orl

### Modify Strings

Python has a set of built-in methods that you can use on strings.

In [29]:
# Upper case
a = "Hello, World!"
a_big = a.upper()
print(a_big)

HELLO, WORLD!

In [30]:
# Lower case
a = "Hello, World!"
a_small = a.lower()
print(a_small)

hello, world!

In [31]:
#Remove trailing white space
a = "        Hello, World! "
a_no_space = a.strip()
print(a_no_space)

Hello, World!

In [32]:
a = "Hello, World!"
a_new = a.replace("H", "J")
print(a_new)

Jello, World!

In [33]:
a = "Hello, World!"
a_split = a.split(",")
print(a_split)

print(a_split[0]) #First word
print(a_split[1]) # Second word

['Hello', ' World!']
Hello
 World!

In [34]:
#Combine strings
a = "Hello"
b = "World"
c = a + b
space = " "

print(c)

print(a + space + b)

HelloWorld
Hello World

Other built-in string functions: https://www.w3schools.com/python/python_strings_methods.asp

## Booleans
Booleans represent one of two values: True or False.

In programming you often need to know if an expression is `True` or `False`.

You can evaluate any expression in Python, and get one of two answers, `True` or `False`.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [35]:
print(10 > 9)
print(10 == 9) # two equal signs for testing equality
print(10 < 9)

True
False
False

## Operators

Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values:

In [36]:
3 + 5

8

Python divides the operators in the following groups:

- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators
- Bitwise operators

### Arithmetic operators
Arithmetic operators are used with numeric values to perform common mathematical operations:
| Operator | Name            | Example  |
|----------|-----------------|----------|
| +        | Addition        | x + y    |
| -        | Subtraction     | x - y    |
| *        | Multiplication  | x * y    |
| /        | Division        | x / y    |
| %        | Modulus         | x % y    |
| **       | Exponentiation  | x ** y   |
| //       | Floor division  | x // y   |

In [37]:
print(2**5)
print(5//2)

32
2

### Assignment operators
Assignment operators are used to assign values to variables:

| Operator | Example       | Same As       |
|----------|---------------|---------------|
| =        | x = 5         | x = 5         |
| +=       | x += 3        | x = x + 3     |
| -=       | x -= 3        | x = x - 3     |
| *=       | x *= 3        | x = x * 3     |
| /=       | x /= 3        | x = x / 3     |
| %=       | x %= 3        | x = x % 3     |
| //=      | x //= 3       | x = x // 3    |
| **=      | x **= 3       | x = x ** 3    |

In [38]:
x = 5
x += 3
print(5)

5

### Comparison Operators

Comparison operators are used to compare two values:

| Operator | Name                       | Example  |
|----------|----------------------------|----------|
| ==       | Equal                      | x == y   |
| !=       | Not equal                  | x != y   |
| >        | Greater than               | x > y    |
| <        | Less than                  | x < y    |
| >=       | Greater than or equal to   | x >= y   |
| <=       | Less than or equal to      | x <= y   |

In [39]:
x = 5
y = 5

print(x == y)

True

### Logical operators
Logical operators are used to combine conditional statements:

| Operator | Description                                      | Example                        |
|----------|--------------------------------------------------|--------------------------------|
| and      | Returns True if both statements are true         | x < 5 and x < 10               |
| or       | Returns True if one of the statements is true    | x < 5 or x < 4                 |
| not      | Reverse the result, returns False if true        | not(x < 5 and x < 10)          |

In [40]:
x = 3

print(x > 0 and x < 4)

print(x < 0 or x < 4)

True
True

### Membership Operators
Membership operators are used to test if a sequence is presented in an object:

| Operator | Description                                                           | Example    |
|----------|------------------------------------------------------------------------|------------|
| in       | Returns True if a sequence with the specified value is present in the object | x in y     |
| not in   | Returns True if a sequence with the specified value is not present in the object | x not in y |

In [41]:
list_of_numbers = [1, 5, 10]

x = 5
y = 7

print(x in list_of_numbers)

print(7 not in list_of_numbers)

True
True

### Operator Precedence

Operator precedence describes the order in which operations are performed.

Parentheses has the highest precedence, meaning that expressions inside parentheses must be evaluated first. "**" is higher than "*" and "/" than "+" and "-", than logical operators `and`, `or`. It is pretty similar to the general math rules, but to avoid confusion, it is suggested to use parentheses to highlight the order of execution.

In [42]:
print(100 + 5 * 3)

115

In [43]:
print((100 + 5 ) * 3)

315

## Lists

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary. There are some nuances but tuple, set are similar to lists. Dictionary is a bit different though

Lists are created using square brackets:

In [44]:
myList = ["apple", "banana", "cherry"]

print(myList)

['apple', 'banana', 'cherry']

### List Items
List items are ordered, changeable, and allow duplicate values. List items are indexed, the first item has index [0], the second item has index [1] etc.
- **Ordered**: When we say that lists are ordered, it means that the items have a defined order, and that order will not change. If you add new items to a list, the new items will be placed at the end of the list.
- **Changeable**: The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.
- **Allow Duplicates**: Since lists are indexed, lists can have items with the same value:

In [45]:
myList = ["apple", "banana", "cherry", "apple", "mango"]

print(myList)

['apple', 'banana', 'cherry', 'apple', 'mango']

In [46]:
#List Length
len(myList)

5

### List elements indexing

In [47]:
print(myList[0]) #First element

print(myList[-1]) #Last element

print(myList[2:5]) #Third to fifth element

print(myList[3:]) #Forth element to the end

print(myList[:3]) #First to third element

print(myList[-3:-1]) #Negative indexing, the last two elements

apple
mango
['cherry', 'apple', 'mango']
['apple', 'mango']
['apple', 'banana', 'cherry']
['cherry', 'apple']

### Modify Lists

In [48]:
myList = ["apple", "banana", "cherry"]
myList[0] = "grape" # Change the first element
print(myList)

['grape', 'banana', 'cherry']

In [49]:
myList.append("blueberry")  # Add an element to the end of the list
print(myList)

['grape', 'banana', 'cherry', 'blueberry']

In [50]:
myList.insert(1, "orange") # Add an element at the second position
print(myList)

['grape', 'orange', 'banana', 'cherry', 'blueberry']

In [51]:
myList2 = ["kiwi", "pear"]
myNewList = myList + myList2 # Combine two lists

print(myNewList)

['grape', 'orange', 'banana', 'cherry', 'blueberry', 'kiwi', 'pear']

In [52]:
myNewList.remove("banana") # Remove an element
print(myNewList)

['grape', 'orange', 'cherry', 'blueberry', 'kiwi', 'pear']

In [53]:
myNewList.remove("banana") #If the element does not exist, an error will occur
print(myNewList)

ValueError: list.remove(x): x not in list

In [ ]:
myNewList = ["apple", "banana", "cherry"]
del myNewList[1] # Remove the second element of the list using the del keyword
print(myNewList)

In [54]:
myNumberList = [100, 50, 65, 82, 23]
myNumberList.sort() # Sort the list ascendingly
print(myNumberList)

[23, 50, 65, 82, 100]

In [55]:
# Sort the list descendingly `reverse = True` is an optional parameter in the sort() method 
# deciding the order of the sorting
myNumberList.sort(reverse = True) 
print(myNumberList)

[100, 82, 65, 50, 23]

In [56]:
myNumberList.reverse()
print(myNumberList) # reverse the order of the list

[23, 50, 65, 82, 100]

More List methods can be seen here: https://www.w3schools.com/python/python_lists_methods.asp. Since tuple and set are less frequently used, if you are interested, you can also learn from the link.

## Dictionaries

Dictionaries are used to store data values in `key:value` pairs.

A dictionary is a collection which is ordered*, changeable and do **NOT** allow duplicates. Of paticular interest, we often use dictionary to store key-value pair for parameters used in a method/function.

Dictionaries are written with curly brackets, and have keys and values:

In [57]:
carDict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 2018
}

print(carDict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [58]:
print(carDict["brand"]) # Access the value of the "brand" key

Ford

In [59]:
carDict["brand"] = "Toyota" # Change the value of the "brand" key

print(carDict)

{'brand': 'Toyota', 'model': 'Mustang', 'year': 2018}

In [60]:
carDict["color"] = "red" # Add a new key-value pair

print(carDict)

{'brand': 'Toyota', 'model': 'Mustang', 'year': 2018, 'color': 'red'}

In [61]:
del carDict["model"] # Remove a key-value pair

print(carDict)

{'brand': 'Toyota', 'year': 2018, 'color': 'red'}